<div>
    <li>
    {{burger_name}}
<button class="ordered" data-id="{{id}}" data-newburger="{{burger}}">
    {{#if devoured}}Devour it{{else}}Order Again{{/if}}
</button>

    {{!-- Create form and btn's for wait/devoured lists on index.handlebars --}}
    {{!-- <form action="/api/burger/update"  method="get">
        <input type="hidden" name="id" value="{{id}}">
        <input type="hidden" name="devoured" value="{{devoured}}">
        <input type="submit" value="{{#if devoured}}Devour it!{{else}}Make it again!{{/if}}">
    </form> --}}

   </li>
</div>